numpy >= 1.22.3
pandas >= 2.0.2
plotly >= 5.15.0

black >= 23
setuptools >= 65.5.1
pytest >= 7.3.1
pytest-cov >= 4.1.0
pre-commit >= 3.3.2
cffi >= 1.15.1

tox >= 4.5
virtualenv >= 20
build

sphinx >= 5.3.0
pydata_sphinx_theme
jupyter
ipykernel
kaleido
myst-nb 
matplotlib >= 3.6
sphinxcontrib-napoleon

jupyterlab
ipywidgets
